body  {
background-image: url("https://woody.cloudly.space/app/uploads/montpelliertourisme/2022/12/thumbs/Littoral-Carnon-Plage_free_format-1920x960.jpg");
  background-size: cover;
  background-attachment: fixed;
}

div.titre {
color: rgb(5, 0, 105);
text-align: center;
font-size: 100px;
font-family: Brush Script MT;
}

.topnav {
    background-color: #333;
    position: fixed;
    width:100%;
    display:flex;
    justify-content: space-between;
  }
  
  .gauche a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .droite {
    display: flex;
    color: #f2f2f2;
    
  }

  .droite p {
    margin-right: 10px;
  }
  
  .gauche a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .gauche a.active {
    background-color: #04ade5;
    color: white;
  }

  div.menu {
    background-color: #fffcfc81;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1500px;
    padding-top: 30px;
    border-radius: 20px;
  }

  .article3 {
    width: 640px;
    background-color: #ffffff;
    padding-top: 30px;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 10px;
  }

  .article1 {
    width: 600px;
    background-color: #ffffff;
    padding-top: 30px;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 400px;
  }

.article1 img {
    padding-left: 50px;
}

.article3 img {
    padding-left: 100px;
    width: 450;
}

.article2 {
    width: 1275px;
    background-color: #ffffff;
    padding-top: 30px;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 20px;
    margin-bottom: 30px;
    display: flex;
  }

  .article2 p {
    padding-right: 10px;
    font-size: 29px;
  }

.article2 img {
    padding-left: 50px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.menu a{
    color: #363636;
}
.sousmenu {
    display: flex;
}

a {
    color: rgb(5, 0, 105);
}

.contact{
  background-color:#01394c;
  width: 100%;
  color: #ffffff;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 50px;
  display: flex;
}

.contact div {
  padding-left: 70px;
}



.droite img{
  display: flex;
  width: 48px;
	height: 48px;
  background-color: #04ade5;
  margin-right: 40px;
}

.form {
  width: 100%;
}


.contactg{
  background-color:#01394c;
  width: 100%;
  color: #ffffff;
  padding-top: 70px;
  padding-left: 20px;
  padding-bottom: 50px;
  display: flex;
  height: 300px;
  margin-top: 100px;
}

.contactg div {
  padding-left: 170px;
  font-size: larger;
}
